<!-- TEMPLATE:article -->
<!-- TEMPLATE:OVERWRITE category News -->
<!-- TEMPLATE:OVERWRITE title Color and Merch! -->
<!-- TEMPLATE:OVERWRITE author jancraft888 -->
<!-- TEMPLATE:OVERWRITE description We have a change in the color scheme, and a work in progress merch store! -->
<!-- TEMPLATE:OVERWRITE postdate 22nd May 2022 -->

<p>
    We ought to update you on changes about the website, so here's this article talking about the recent changes to the page's colors and other stuff.
    I hope you stay with us, next week I'll probably be posting an article about collisions in RadonJS and Tedd'or.
    And, of course, I will post about the merch as soon as I get the artwork and samples.
</p>

<h3>Color Scheme Changes</h3>
<p>
    You may have notices that the website no longer has the default look of toolboxCSS. In fact, we are still using toolbox dark mode under the hood, it's just we have modified it with colors that better represent us, all while keeping it safe for your eyes.

    <ul>
        <li>The website now uses the same background color across <i>all pages</i></li>
        <li>The <i>depth/accent color</i> has been modified to better adopt to the color scheme</li>
        <li>The border color now <i>stands out</i> a lot while not being distracting</li>
        <li>Nested <i>tbx-card</i>(s) now have a slightly different color to aid your vision</li>
    </ul>
</p>

<h3>Merch Store</h3>
<p>
    And, of course, the BIG news. <br>
    We are starting a merch store!!! For now it's empty, but we'll fill it in with designs as soon as they come in!<br><br>

    Starting very soon, you will be able to download the design files to print them on your clothes yourself.
    Unfortunately, I don't know how much time it will take for me to open an online store where you can actually order the products, as it's not cheap or easy. If you have any recomendations, you can contact us at <a href="mailto:contact@jdev.com.es">contact@jdev.com.es</a>.<br><br>

    Anyways, the merch store is located <a href="/merch">here</a> and you will be able to check it out soon!
</p>

<h3>Technical changes</h3>
<p>
    I've been busy switching from GitHub to GitLab.
    <br>
    I've also been making a new build system for both RadonJS and Tedd'or. Also now you cannot get the GitLab 404, you will get our custom <a href="/totally-not-a-valid-path">404</a>.
</p><br>

<p>
    <b>And this is all!</b> I hope you like the changes and you share this article with friends!
</p>
