<!-- TEMPLATE:article -->
<!-- TEMPLATE:OVERWRITE category Coding -->
<!-- TEMPLATE:OVERWRITE title Tedd'or Collision -->
<!-- TEMPLATE:OVERWRITE author jancraft888 -->
<!-- TEMPLATE:OVERWRITE description How do we check collision in Tedd'or without using too many resources? Read to find out! -->
<!-- TEMPLATE:OVERWRITE postdate 28th May 2022 -->

<p>
   I'm building a game engine built using THREE.JS and I recently had the trouble of detecting collisions. You see, it's not as easy as it looks. We must make each object check for a collision with every other object and when we have lots of objects, that becomes computationally expensive.
</p>

<h3>Boxes and Spheres</h3>
<p>
    Checking <i>box-box</i> intersections is really simple, but there's two ways to do it:
    Either you use Axis Aligned Bounding Boxes (AABBs) or you use transformed boxes. <br>
    Transformed Boxes are more expensive, but they are much more precise. AABBs are crazy fast, but they can be inprecise when rotated.
    I still went with AABBs because I care for speed, not for precision.
    <br><br>
    Everything applied to <i>box-box</i> intersections can be equally applied to <i>box-sphere</i> and <i>sphere-sphere</i> intersections.
</p>

<h3>Terrain</h3>
<p>
    This is hard, very hard.
    Checking for terrain collision is hard because there's many triangles in the map and checking intersection with each one of them would make the game unplayable.
    <br><br>
    I spent hours trying to find a solution, until it came to me.
    I created a binary-encoded height map (BHM) for a low file size that then was decompressed into a JS array.
    I just simply use the object's coordinates to find the height at their position and then apply vertical forces based on that.
    <br><br>
    It's not very precise, but it works and it's <i>very</i> fast.
</p>

<h3>Extras</h3>
<p>
    Finally, I decided to add an inversion system. This simply inverts the shape so it's a hollow box or a hollow sphere, perfect for making rooms.
    <br>
    And I also added support for "Trigger Areas", special boxes that don't have collision but can check for objects inside of them.
</p><br>

<p>
    <b>And this is all!</b> I hope you liked this article and remember to share it!
</p>
