.tbx-dark-custom {
    --tbx-background: #023;
    --tbx-foreground: #eee;
    --tbx-depth-background: #034;
    --tbx-depth-foreground: #ddd;
    --tbx-button-background: #eee;
    --tbx-button-active-background: #ddd;
    --tbx-button-foreground: #222;

    --tbx-border-width: 2px;
    --tbx-border-color: #55a;
}

.tbx-dark-custom .tbx-card > .tbx-card {
    background: #045;
}
